<div class="col-sm-3 col-md-2 hidden-xs">
	<div class="title upper">
		<i class="icon flaticon-news"></i>News
	</div>
</div>
<div class="col-xs-5 col-sm-6 col-md-7 col-xs-push-1 col-sm-push-0">
	<div id="newsCarousel" class="slick-style1">
		<div class="item upper">
			<div class="marquee">
				<span class="date">10.10.2015.</span> Fusce eu dui. Integer vel nibh sit amet turpis vulputate aliquet. Phasellus id nisi vitae odio pretium aliquam.
			</div>
		</div>
		<div class="item upper">
			<div class="marquee">
				<span class="date">14.10.2015.</span> Fusce eu dui. Integer vel nibh sit amet turpis vulputate aliquet. Phasellus id nisi vitae odio pretium aliquam.
			</div>
		</div>
		<div class="item upper">
			<div class="marquee">
				<span class="date">20.10.2015.</span> Fusce eu dui. Integer vel nibh sit amet turpis vulputate aliquet. Phasellu id nisi vitae odio pretium aliquam.
			</div>
		</div>
	</div>
</div>