<div id="openSearch">
	<div class="container">
		<div class="inside">
			<form id="searchHeader" method="get" action="#">
				<div class="input-outer">
					<input type="text" class="search-input" value="SEARCH..." onblur="if (this.value == '') {this.value = 'SEARCH...';}" onfocus="if(this.value == 'SEARCH...') {this.value = '';}">
				</div>
				<div class="button-outer">
					<button type="button" class="pull-right search-close"><i class="icon">&#10005;</i></button>
					<button type="submit" class="pull-right"><i class="icon icon-xl flaticon-zoom45"></i></button>
				</div>
			</form>
		</div>
	</div>
</div>