{% extends 'baseAdmin.html.twig' %}

{% block body %}

{% set url = ['/productsImage', photo]|join('/')  %}
<img src="{{ asset(url) }}" />

	{{ form_start(form) }}
       		
	    <button type="submit">Zapisz</button>
	{{ form_end(form) }}
{% endblock %}