{% extends 'base.html.twig' %}

{% block body %}
	<div clas="row">
        <div class="col s6">
        	  <table>
            	<thead>
                      <tr>
                          <th>Nazwa</th>
                          <th>Cena</th>
                          <th>Ilość</th>
                      </tr>
                </thead>
                <tbody>
                {% if is_granted('ROLE_USER') %}
        		    <tr>
                    	<td>User</td>
                    	<td>User</td>
                    	<td>User</td>
                  	</tr>
        	    {% else %}
            		{% for item in app.session.get('aBasket') %}
            			<tr>
                        	<td>{{ item.name }}</td>
                        	<td>{{ item.price }}</td>
                        	<td>{{ item.amount }}</td>
                      	</tr>
            		{% endfor %}
        	    {% endif %}
            	 </tbody>
               </table>
        </div>
    </div>
{% endblock %}